# SEE: https://github.com/github/gitignore
# FOLDERS
html
node_modules

# MAC OSX
# https://github.com/github/gitignore/blob/master/Global/OSX.gitignore
.DS_Store
.AppleDouble
.LSOverride
Icon

# MISCELLANEOUS
._*
.Spotlight-V100
.Trashes
