// COLORS
// white
$color-white: #fff;
$color-light: #e9e9e9;
$color-medium: #d0d0d0;
$color-dark: #838383;
$color-black: #373737;

// red
$color-red: #ff2727;
//$color-red-light: #ffa1a1;
//$color-red-dark: #a31919;

// green
$color-green: #22d921;
//$color-green-light: #8ad989;
//$color-green-dark: #147d13;

// blue
$color-blue: #216ed9;
//$color-blue-light: #89abd9;
//$color-blue-dark: #133f7d;

// purple
$color-purple: #9b21d9;
//$color-purple-light: #be89d9;
//$color-purple-dark: #59137d;

// yellow
$color-yellow: #ffff27;
//$color-yellow-light: #ffffa1;
//$color-yellow-dark: #a3a319;
